.shopManagerShop-detail__alert--success {
    color: #176a45;
    background-color: #b7eed5;
    height: 40px;
    padding: 10px;
}

.shopManagerShop-detail__container,
.reservationList__container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.shopManagerShop-detail__btn {
    margin-top: 10px;
}

.shopManagerShop-detail__header,
.reservationList__header {
    margin-top: 40px;
}

.shopManagerShop-detail__btn--Link-back {
    text-decoration: none;
    color: #3560F6;
}

.shopManagerShop-detail__header h2,
.shopManagerShop-shopList__header h2 {
    margin: 0;
    padding: 0;
}

.shopManagersShop-edit-table__wrapper {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.shopManagerShop-detail__form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.shopManagerShop-edit-form {
    width: 100%;
}

.shopManagerShop-edit-table__content {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

.shopManagerShop-edit-table__row {
    width: 100%;
    height: 60px;
}

.shopManagerShop-edit-table__heading {
    width: 25%;
    text-align: left;
    padding-left: 10px;
}

.shopManagerShop-edit-table__item {
    width: 75%;
    padding-left: 10px;
}

.shopManagerShop-edit__input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding-left: 10px;
}

.shopManagerShop-create-form__select{
    width: 40%;
    height: 40px;
    position: relative;
}
.shopManagerShop-create-form__select--area, .shopManagerShop-create-form__select--genre{
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
}

.custom-arrow-area {
    position: absolute;
    top: 0;
    right: 5%;
    pointer-events: none;
    font-size: 30px;
    color: #cdcdcd;
}

.custom-arrow-genre {
    position: absolute;
    top: 0;
    right: 5%;
    pointer-events: none;
    font-size: 30px;
    color: #cdcdcd;
}

.shopManagerShop-edit-table__item--error {
    color: #ff0000;
    font-size: 14px;
}

.shopManagerShop-create-form__textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}

.shopManagerShop-edit-form__btn {
    margin-top: 20px;
    text-align: right;
}

.shopManagerShop-edit-form__btn--submit {
    border: none;
    color: #fff;
    background-color: #3560F6;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#current-image-wrapper{
    position: relative;
}
#delete-image-btn{
    position: absolute;
    right: 73%;
    top: 4%;
    background-color: #e45b49;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}


.reservationList__reservation-create-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shopManagerReservation-create-btn__link {
    text-decoration: none;
    background-color: #a0b2f4;
    color: #000;
    padding: 6px 10px;
    border-radius: 5px;
}

.reservationList__inner {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
}

.reservationList-table__wrapper {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.reservationList-table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

.reservationList-table__heading {
    text-align: left;
    height: 60px;
}

.reservationList-table__heading:nth-of-type(1),
.reservationList-table__item:nth-of-type(1) {
    width: 15%;
}

.reservationList-table__heading:nth-of-type(2),
.reservationList-table__item:nth-of-type(2) {
    width: 10%;
}

.reservationList-table__heading:nth-of-type(3),
.reservationList-table__item:nth-of-type(3) {
    width: 50%;
}

.reservationList-table__heading:nth-of-type(4),
.reservationList-table__item:nth-of-type(4) {
    width: 15%;
}

.reservationList-table__item {
    height: 80px;
    border-top: 1px solid #b1b1b1;
}

.reservationList-table__item:nth-of-type(5) {
    text-align: center;
}
.shopManagerShop-create-form__select--area, .shopManagerShop-create-form__select--genre{
    border-top: 1px solid #b1b1b1;
    border-radius: 5px;
}

.reservationList-table__btn {
    border: none;
    background-color: #3560F6;
    border-radius: 5px;
}

.reservationList-table__btn--detail {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}


.reservationList__paginate {
    text-align: center;
    margin-top: 20px;
}

.reservationList__paginate nav {
    display: inline-block;
}

.pagination__inner {
    display: flex;
    border: 1px solid #adadad;
}

.pagination__item,
.pagination__item-current,
.pagination__arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 1px solid #adadad;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
}

.pagination__arrow:first-child {
    border-left: none;
}

.pagination__item a,
.pagination__arrow a {
    text-decoration: none;
    color: #3560F6;
    width: 100%;
    height: 100%;
}

.pagination__item-current {
    background-color: #3560F6;
    color: #fff;
}

.pagination__item-current span,
.pagination__arrow span {
    width: 100%;
    height: 100%;
}

.custom-arrow {
    width: 20px;
    height: 20px;
}
