.login__inner{
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    margin: 140px auto;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

.message__success {
    width: 95%;
    max-width: 1280px;
    background-color: #caf8e8;
    font-size: 14px;
    color: #2f5e4e;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.message__error {
    width: 95%;
    max-width: 1280px;
    background-color: #f8d3ca;
    font-size: 14px;
    color: #951b12;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.login__heading{
    color: #fff;
    background-color: #e69335;
    height: 60px;
    border-radius: 4px 4px 0 0;
    padding-left: 20px;
}
.login__heading h2{
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.login-form{
    width: 85%;
    margin: 0 auto;
}
.login-form__item{
    width: 100%;
    text-align: right;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.login-form__item-input--email, .login-form__item-input--pass{
    border: none;
    border-bottom: solid 1px #000;
    font-size: 16px;
    display: inline-block;
    width: 90%;
}
.login-form__error{
    font-size: 14px;
    color: #ff0000;
}
.login-form__button{
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: right;
}
.login-form__button-submit{
    font-size: 13px;
    color: #fff;
    background-color: #e69335;
    border: none;
    padding: 8px 17px;
    border-radius: 4px;
    cursor: pointer;
}
