.register__inner {
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    margin: 140px auto;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

.register__heading {
    color: #fff;
    background-color: #e69335;
    height: 60px;
    border-radius: 4px 4px 0 0;
    padding-left: 20px;
}

.register__heading h2 {
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.register-form {
    width: 85%;
    margin: 0 auto;
}

.register-form__item {
    width: 100%;
    text-align: right;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.register-form__error{
    font-size: 14px;
    color: #e45b49;
}

.register-form__item-input--email,
.register-form__item-input--pass, .register-form__item-input--name {
    border: none;
    border-bottom: solid 1px #000;
    font-size: 16px;
    display: inline-block;
    width: 90%;
}

.register-form__button {
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: right;
}

.register-form__button-submit {
    font-size: 13px;
    color: #fff;
    background-color: #e69335;
    border: none;
    padding: 8px 17px;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .register__inner {
        width: 100%;
    }
}
