body{
    font-family: "Noto Sans JP", sans-serif;
    background-color: #EEE;
}

.header{
    background-color: #f2e5be;
    box-shadow: 0px 4px 4px rgba(144, 144, 144, 0.3);
    position: relative;
    z-index: 10;
}
.header__inner{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo h1{
    margin: 0;
    padding: 0;
}
.header__logo h1 a{
    text-decoration: none;
    font-size: 32px;
    color: #632a0e;
    font-weight: bold;
}

.header-nav__items{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-nav__item{
    list-style: none;
    font-size: 14px;
}
.header-nav__item--logout-btn{
    border: none;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}
.header-nav__item--logout-btn:hover {
    color: #f38a1a;
}
.header-nav__link{
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}
.header-nav__link:hover {
    color: #f38a1a;
}
.footer {
    background-color: #f2e5be;
}
.footer__inner {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}
