.mypage-container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.message__success {
    background-color: #caf8e8;
    font-size: 14px;
    color: #2f5e4e;
    margin: 20px auto 0 auto;
    width: 95%;
    max-width: 1360px;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.message__error {
    background-color: #f8d3ca;
    font-size: 14px;
    color: #951b12;
    margin: 20px auto 0 auto;
    width: 95%;
    max-width: 1360px;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.mypage__user-name{
    text-align: center;
    margin-top: 40px;
}
.mypage__user-name p{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}
.mypage__flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.mypage-left{
    width: 40%;
    padding: 0 20px;
}
.reservation-status__title h2, .favorite-shops__title h2{
    margin: 0;
    font-size: 24px;
}
.reservation-status__container{
    margin-top: 30px;
}
.status-card{
    background-color: #e69335;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
    padding: 30px;
    margin-bottom: 20px;
}
.status-card__heading-btn--flex{
    display: flex;
    justify-content: space-between;
}
.status-card__heading{
    display: flex;
    align-items: center;
}
.status-card__heading i{
    font-size: 25px;
    color: #fff;
}
.status-card__heading h3{
    margin: 0 0 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.status-card__link--delete{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: #fff solid 2px;
    text-align: center;
    line-height: 1;
}
.status-card-table{
    margin-top: 25px;
    width: 100%;
}
.status-card-table__row{
    font-size: 16px;
    text-align: left;
    color: #fff;
    height: 40px;
}
.status-card-table__heading{
    width: 26%;
}
.status-card-table__item{
    width: 74%;
}
.status-card__edit-btn{
    margin-top: 10px;
}
.status-card__edit-btn--link{
    text-decoration: none;
    color: #e69335;
    font-size: 14px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
}

.review-btn{
    margin-top: 30px;
}
.review-btn__link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e8a75c;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
    padding: 20px 40px;
    margin-bottom: 40px;
}
.review-btn__link i{
    margin-left: 20px;
}


.mypage-right{
    width: 55%;
    padding: 0 17px;
}
.favorite-card__flex{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.favorite-card{
    width: 300px;
    height: 280px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
    margin-bottom: 25px;
}
.favorite-card__img{
    width: 100%;
    height: 150px;
}
.favorite-card__img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.favorite-card__content {
    padding: 20px;
}
.favorite-card__shop-name {
    font-size: 18px;
    margin: 0;
}
.favorite-card__tag {
    font-size: 12px;
    margin-bottom: 10px;
}
.favorite-card__content--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite-card__link-detail {
    display: inline-block;
    background-color: #e69335;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
}
.favorite-card__btn--favorite {
    border: none;
    background-color: #fff;
    color: #EEE;
    cursor: pointer;
}
.favorite-card__btn--favorite.favorited {
    color: #ff0000;
}
.favorite-card__btn--favorite i {
    font-size: 32px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal__contents{
    position: relative;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 15px;
}
.modal-close__link{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #000;}

.modal__content{
    text-align: center;
}
.modal__message p{
    font-size: 18px;
}

.modal-table{
    width: 100%;
    margin-top: 50px;
}
.modal-table__inner{
    width: 50%;
    margin: 0 auto;
}
.modal-table__row{
    width: 100%;
    height: 40px;
    text-align: left;
    border-bottom: 1px solid #000;
}
.modal-table__heading{
    width: 40%;
    padding-left: 10px;
}

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-close__back{
    margin-right: 30px;
}
.modal-close__back--link{
    text-decoration: none;
    color: #000;
}
.delete-form__button-submit{
    border: none;
    background-color: #e69335;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .mypage__flex {
        flex-direction: column;
    }
    .mypage-left {
        width: 100%;
        padding: 0 15px;
    }
    .status-card-table__heading {
        width: 35%;
    }
    .status-card-table__item {
        width: 65%;
    }

    .mypage-right {
        width: 100%;
        padding: 0 15px;
    }
    .favorite-card__flex {
        flex-direction: column;
    }
}
